html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}


/* Globales */

.contenedor {
    max-width: 120rem;
    margin: auto;
}